[submodule "microservices/device-manager"]
	path = microservices/device-manager
	url = https://github.com/ralitzar/mss-sensors-device-manager.git
[submodule "microservices/temperature-monitoring"]
	path = microservices/temperature-monitoring
	url = https://github.com/ralitzar/mss-sensors-temperature-monitoring.git
[submodule "microservices/temperature-processing"]
	path = microservices/temperature-processing
	url = https://github.com/ralitzar/mss-sensors-temperature-processing.git
